.container{
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}

.viewAll{
    background-color: #DB4444;
    width: 230px;
    height: 56px;
    border-radius: 7px;
    margin-top: 50px;
    color: white;
}
