.container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.frame{
    width: 230px;
    height: 230px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.frame:hover .addToCartButton {
    opacity: 1; /* Зміна прозорості на 0 при наведенні на .frame */
}

.goodImage{
    background-image: url('../../../public/images/gamepad.png');
    width: 80%;
    height: 80%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.discount{
    width: 55px;
    height: 26px;
    background-color: #DB4444;
    border-radius: 5px;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}


.goodPrice{
    display: flex;
}

.newPrice{
    margin-right: 20px;
    color: #DB4444;
}

.oldPrice{
    text-decoration: line-through;
    color: grey;
}



