@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white-body-bg: #FAF4F2;
  --pink-body-bg: 'some';
}

body {
  color: var(--foreground);
  background: var(--white-body-bg);
  font-family: Arial, Helvetica, sans-serif;
}
