.mainImage{
  width: 40%;
  border-radius: 5px;
}

@media (max-width: 1350px){
  .mainImage{
    display: none;
  }
}

.mainContainer{
  display: flex;
  margin: 3% 0% 3% 0%;
}

.registerContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.registerContainerForm{
  width: 100%;
}

.registerContainer h1{
  font-size: 36px;
  font-weight: bold;
  width: max-content;
}

.registerContainer h2{
  font-size: 16px;
  font-weight: lighter;
  margin-bottom: 50px;
  width: max-content;
}

.registerContainer input{
  
  border-bottom: solid 1px;
  border-color: rgb(230, 230, 230);
  padding: 8px 8px 8px 3px;
  margin-bottom: 20px; 
  width: 100%;
  display: flex;
  flex-direction: column;
}

.createAccountButton{
  background-color: rgb(214, 76, 51);
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  color: beige;
  margin-bottom: 20px;
}

.googleLogo{
  width: 20px;
  margin-right: 15px;
}

.createAccountButtonGoogle{
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  display: flex;
  border: 1px solid;
  align-self: center;
  justify-content: center;
}

.logOption{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.logOption h3{
color: rgb(104, 104, 104);
width: max-content;
}

.logOptionLink{
  margin-left: 5%;
  font-weight: bold;
  text-decoration: underline;
}

.registerContainerForFlex{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

